.main{
	display: flex;
	justify-content: space-around;
	
	

}
.logo{
	width: 100px;
}

	

.navbar li{
	display: flex;
	display: inline-block;
	margin-left: 10px;
	margin-top: 30px;
}
.navbar a{
	font-size: 24px;
	text-transform: uppercase;
	font-family: 'Roboto-Regular';
 
}
.navbarlast{display:flex;


}
.navbarlast img{
	width: 20px;
	margin:10px;
	margin-top:30px;

}
.about{
	display: flex;
    height: 145px;
    background: #EE4036;
    justify-content: right;
    align-items: center;
    padding-left: 30px;
    font-size: 22px;
    font-family: 'Roboto-Regular';
    text-transform: uppercase;
    color:#fff;


}
.section{
	display: flex;
	justify-content: space-around;
	margin-top: 100px;
}
.box1 img{
	border: 3px solid red;
	padding:20px;
	margin-top:30px;
}
.box2 img{
	border: 3px solid red;
	padding:80px;
}
.box3 img{
	border: 3px solid red;
	padding: 20px;
	margin-top: 30px;
}
 .section h1 {
 	font-size: 24px;
 	font-family: 'Roboto-Regular';
 	color:red;
 	text-transform: uppercase;
 	margin-top: 5px;
 }
 .section p {
 	font-size: 20px;
 	font-family: 'Roboto-Regular';
 	color:#000;

 }
 .text2{
 	font-size: 22px;
 	font-family: 'Roboto-Regular';
 	color:red;
 	margin-bottom:50px;
 	margin-top:50px;
 	margin-left:100px;
 	text-transform: uppercase;

 }
 .ph2{
 	margin-left: 100px;
 	margin-top: 50px;
 }
 .section2{
 	
 	background-color: #BDCCD4;
 	height:100px;
 	padding:30px;
 	margin-top: 20px;
 }
 .text3{
 	float:left;
 	font-size:22px; 
 	font-family: 'Roboto-Regular';
 	
 	color:#fff;
 	line-height:2;
 	margin-left: 20px;
 	border-bottom:0.2px   solid  #fff;
 }
.ph3{
	width: 200px;
	float:right;
	
}
.section3{
	background: #E6E6E6;
	width: 1360px;
}
.text4{
	font-size: 24px;
	font-family: 'Roboto-Regular';
	margin-left: 20px;
}
.mainbox{
	display: flex;
	justify-content:space-around;
	align-items: center;
	background: #F2F2F2;
}

.mainbox1 img{
	width: 100px;
	float:left;
	margin: 10px;
}
.mainbox1 p{
	margin-left: 10px;
	text-align: center;
}